<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no, width=720px, height=1280px" />
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>semperhhh | 博客</title>
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../css/bootstrap.css">
    <!-- 首页 -->
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/buttons.css">
    <!-- 只有使用字体图标时才需要加载 Font-Awesome -->
    <link rel="stylesheet" href="../css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/list-navi.css">
    <script src="../js/vue.js"></script>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/navigationBar.js"></script>
</head>

<body class="main_index">
    <div class="box" id="main_list">

        <!-- {{{navigationBar}}}  -->
        <navigation-bar></navigation-bar>

        <!-- list -->
        <div class="list-background container-fluid">
            <div style="height:50px;"></div>
            <div class="content">
                <!-- Stack the columns on mobile by making one full-width and the other half-width -->

                <!-- 分区导航 -->
                <div class="col-md-3 navi">
                    <ul>
                        <li v-for="cell in CATEGORY_NAME_LIST">
                            <div class="navi-button" @click="categoryAction(cell.category_id)">
                                {{cell.category_name}}
                                <hr style="background-color: gray;">
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- 列表 -->
            <div class="col-md-8 list center-block" v-for="cell in POSTS_LISTS">
                <div class="col-md-12 corner-window cell" @click="list_action(cell.POSTS_TITLE)">
                    <div class="col-md-12" style="height:16px;"></div>
                    <div class="col-md-12">
                        <p class="title">{{cell.POSTS_TITLE}}</p>
                        <p>
                            <i>创建于 :{{cell.POSTS_CREATE_TIME}}</i>
                        </p>
                        <p>
                            <i>最后更新 :{{cell.POSTS_UPDATA_TIME}}</i>
                        </p>
                        <p class="list_posts_tag" v-for="item in cell.POSTS_TAG">
                            <span class="badge badge-success">
                                {{item}}
                            </span>
                        </p>
                        <p class="badge badge-info">
                            {{cell.POSTS_CATEGORY}}
                        </p>
                        <p>
                            <i>喜欢 : {{cell.POSTS_LIKEED}}</i>
                            <i>&nbsp;&nbsp;&nbsp;</i>
                            <i>阅读 : {{cell.POSTS_READED}}</i>
                        </p>
                    </div>
                    <div class="col-md-12" style="height:16px;"></div>
                </div>
                <div class="col-md-12" style="height:16px;"></div>
            </div>
            <div style="height:40px;"></div>

            <!-- 页数 -->
            <div class="pageCount">
                <button class="pageCount button button-action button-rounded" @click="beforeAction()"
                    v-if="beforeBtnShow">
                    上一页
                </button>
                <button class="pageCount button button-action button-rounded" @click="afterAction()"
                    v-if="afterBtnShow">
                    下一页
                </button>
            </div>

            <div style="height:80px;"></div>
        </div>
    </div>
</body>
<script src="../js/list-main.js"></script>

</html>