<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no, width=720px, height=1280px" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>semperhhh | 博客</title>
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../css/bootstrap.css">
    <!-- 首页 -->
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/buttons.css">
    <link rel="stylesheet" href="../css/markdown.css">
    <!-- 只有使用字体图标时才需要加载 Font-Awesome -->
    <link rel="stylesheet" href="../css/font-awesome.min.css">
    <script src="../js/vue.js"></script>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/tool.js"></script>
    <script src="../js/navigationBar.js"></script>
</head>

<body class="main_index">
    <div class="box" id="posts">
        
        <!-- {{{navigationBar}}} -->
        <navigation-bar></navigation-bar>

        <div class="col-md-12">
            <div style="height:80px;"></div>
            <div class="col-md-9 postsBackground center-block">
                <div style="height:60px;"></div>

                <!-- 内容 -->
                <div v-html="POSTS_CONTENT"></div>

                <div style="height:60px;"></div>
                <!-- 分割线 -->
                <div class="span-1">------------------------------</div>

                <div class="l-center">
                    <!-- 点赞 -->
                    <button class="button button-glow button-rounded button-caution" v-on:click="likeClick()">赞</button>
                    <!-- 打赏 -->
                    <button class="button button-glow button-rounded button-royal" v-on:click="rewardClick()">赏</button>
                </div>

                <div style="height:60px;"></div>
            </div>
            <div style="height:80px;"></div>
        </div>
    </div>
</body>

<script>
    var posts = new Vue({
        el: "#posts",
        data: { //数据
            POSTS_TITLE: "标题",
            POSTS_CONTENT: "内容!!",
        },
        methods: { //方法

            requestData() { //加载数据
                var _this = this;
                $.ajax({
                    url: "/posts/query",
                    data: {
                        title: encodeURI(_this.POSTS_TITLE),
                    },
                    method: "GET",
                    success: function (data) {
                        console.log("请求成功");
                        _this.POSTS_CONTENT = data;
                    },
                }).fail(function (error, response) {
                    console.log("posts error" + error, response.codeStatus);
                }).always(function () {
                    console.log("请求完成");
                });
            },

            likeClick() { //喜欢
                alert("谢谢你的喜欢~");
                
                //发送请求
                var _this = this;
                $.ajax({
                    url: "/posts/like",
                    data: {
                        title: encodeURI(_this.POSTS_TITLE),
                    },
                    method: "GET",
                }).done(function (data) {
                    console.log("like data = ", data);
                }).fail(function (error, response) {
                    console.log("like error" + error, response.codeStatus);
                }).always(function () {
                    console.log("like request success");
                });
            },

            rewardClick() { //打赏
                //弹窗 居中 阴影 二维码 关闭按钮
            }
        },
        mounted: function () { //安装
            this.POSTS_TITLE = getUrlParam("title");
            this.requestData();
        }
    })
</script>

</html>