<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <style>
        #posts_background {
            /* display: none; */
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
        }
        .content {
            background-color: brown;
        }
    </style>
</head>

<body>
    <!-- 弹窗 -->
    <div class="app">
        <div id="posts_background" class="posts_back">
            <div id="div1" class="content">
                <div>
                    弹窗内容
                </div>
            </div>
        </div>
    </div>
</body>

</html>