/* 列表导航css */

/* 列表字体 */
ul {
    list-style-type: none;
}

p.title {
    font-size: 22px;
    font-weight: 600;
}

p.subTitle {
    font-size: 14px;
    font-weight: 400;
}

/* 块 */
.content {}


/* 分区导航 */
.navi {
    /* height: 200px; */
    text-align: center;
}

.navi li {
    text-align: center;
    height: 50px;
    display: inline-block;
}

div.navi-window {
    border-radius: 10px;
    background: rgba(10, 10, 10, 0.7);
}

/* 列表 */
.list {
    /* margin-left: 280px; */
}

/* 页数 */
.pageCount {
    text-align: center;
}